<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718557591529-f0d2di448sp32a4209lii7sikgtj8b9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718557591529-f0d2di448sp32a4209lii7sikgtj8b9g</string>
	<key>API_KEY</key>
	<string>AIzaSyD7PVW1ZvnpQ04ssadiqufL6m9DavwtzY8</string>
	<key>GCM_SENDER_ID</key>
	<string>718557591529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techgritty.chants</string>
	<key>PROJECT_ID</key>
	<string>chants-815bc</string>
	<key>STORAGE_BUCKET</key>
	<string>chants-815bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718557591529:ios:84777bc33e710b6655bd78</string>
</dict>
</plist>